<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
</head>

<body>

<!-- Nav Start -->
<div th:replace="/layout :: navbar">

</div>

<!-- nav End -->


<!-- Main Container Start -->
<div class="container d-flex justify-content-center align-items-center min-vh-100">


  <!-- Login Container Start -->
  <div class="row border rounded-5 p-3 bg-white shadow box-area">


    <!-- Left Box start -->
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
         style="background: #00B0B8;">
      <div class="featured-image mb-3">
        <img src="" class="img-fluid mt-3" style="width: 450px;">
      </div>
      <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">New
        here?</p>
      <small class="text-white text-wrap text-center"
             style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Sign up and discover great
        amount of new apportunities</small>

    </div>
    <!-- Left Box End -->


    <!-- right Box End -->
    <div class="col-md-6 right-box">
      <div class="row align-items-center">
        <div class="header-text mb-4">
          <h2>Xin chào</h2>
          <p>Vui vì bạn trở lại</p>
        </div>
        <form method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg bg-light fs-6"
                   placeholder="Username" name="username">
          </div>
          <div class="input-group mb-1">
            <input type="password" class="form-control form-control-lg bg-light fs-6"
                   placeholder="Password" name="password">
          </div>
          <div class="input-group mb-3 mt-3">
            <button class="btn btn-lg btn-primary w-100 fs-6"
                    style="background: #00B0B8   ; border: none;">Đăng nhập</button>
          </div>
        </form>


        <div class="row">
          <small>Bạn chưa có tài khoản? <a href="/register">Đăng ký</a></small>
        </div>
      </div>
    </div>
    <!-- right Box End -->
  </div>
  <!-- Login Container End -->
</div>
<!-- Main Container End -->
</body>
</body>

</html>