<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products List</title>
    <th:block th:replace="layout/head" />
</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="layout/navbar"/>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <th:block th:replace="layout/sidebar"/>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">NhatAD</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                    <li class="breadcrumb-item active">Products List</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Products List</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">

                            <div style="color: red">
                                <div th:if="${message}">
                                    <span th:text="${message}"></span>
                                </div>
                            </div>

                            <table id="basic-datatable" class="table dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Đơn vị</th>
                                    <th>Danh mục</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="item : ${products}">
                                    <td th:text="${item.getId()}"></td>
                                    <td th:text="${item.getTitle()}"></td>
                                    <td th:text="${item.getPrice()}"></td>
                                    <td th:text="${item.getUnit()}"></td>
                                    <td th:text="${item.category.title}"></td>
                                    <td>
                                        <button ><a th:href="@{/products/edit/__${item.id}__}">edit</a></button>
                                        <button ><a th:href="@{/products/delete/__${item.id}__}">delete</a></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div>
            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:replace="layout/footer"/>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->


<!-- Right Sidebar -->
<th:block th:replace="layout/rightbar"/>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<th:block th:replace="layout/script"/>

</body>
</html>